.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.accordion {
  --button-size: 3rem;
  --panel-padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
  flex-basis: calc(var(--button-size) + (var(--panel-padding) * 2));
  overflow: hidden;
  padding: var(--panel-padding);
  border-radius: calc((var(--button-size) + (var(--panel-padding) * 2) / 2));
}

.accordion-panel:has([aria-expanded="true"]) {
  flex-basis: clamp(15rem, 80vh, 40rem);
  padding: calc(var(--panel-padding) * 2);
}

.accordion-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}

.accordion-trigger {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
  background-color: white;
  border-radius: calc((var(--button-size) + (var(--panel-padding) * 2) / 2));
  padding-right: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.accordion-trigger:hover,
.accordion-trigger:focus {
  transform: scale(1.1) translateX(1rem);
  cursor: pointer;
}

.accordion-icon {
  background: white;
  width: var(--button-size);
  aspect-ratio: 1/1;
  padding: 0.75rem;
  border-radius: 50%;
  margin: cal(var(--panel-padding) * 2);
}

.project-title {
  font-size: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  width: 100%;
  border-radius: calc((var(--button-size) + (var(--panel-padding) * 2) / 2));
  padding: 1.5rem;
}

.project-links {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.project-links a {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
