.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  max-width: 70rem;
  margin: 1rem;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.form input {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 0.5rem;
}

.form textarea {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 0.5rem;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
}
