.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
  max-width: 70rem;
  margin: 3rem 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 2rem;
}

.form input {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 1rem;
  border-radius: 4rem;
}

.form textarea {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 1rem;
  border-radius: 2rem;
  height: 8rem;
}

.form button {
  background-color: green;
  color: white;
  font-size: 18px;
  padding: 1rem;
  border-radius: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 1rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: aliceblue;
  box-shadow: var(--box-shadow);
}

.social-icon[aria-label="linked-in"] {
  color: blue;
}

.social-icon[aria-label="github"] {
  color: green;
}

.social-icon[aria-label="instagram"] {
  color: orangered;
}

.email {
  margin: 3rem 0;
}
